*{
    margin: 0;
    padding: 0;
}
.active{
    color: red;
}
.header{
    width: 100%;
    height: 88px;
    text-align: center;
    line-height: 88px;
    font-size: 36px;
    color: #000;
}
.header span:nth-of-type(1){
    margin-left: 30px;
    float: left;
    font-size: 50px;
}
.header span:nth-of-type(3){
    margin-right: 30px;
    float: right;
    font-size: 50px;
}
#group{
    padding: 30px;
}
.big{
    height: 288px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
}
.big img{
    width: 210px;
    height: 288px;
    position: relative;
}
.big li{
    width: 210px;
    height: 288px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #232323;
    opacity: 0.7;
}
.big i{
    width: 140px;
    height: 140px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    left:50%;
    top: 25%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    line-height: 140px;
}
.big .diff{
    width: 450px;
    height: 288px;
    /* background: salmon; */
}
.big p:nth-child(2){
    color: #232323;
    font-size: 32px;
}
.big p{
    margin-bottom: 20px;
}
.big span{
    color: red;
}
.nomore{
    height: 88px;
    color: #666;
    font-size: 22px;
    text-align: center;
    line-height: 88px;
}