

*{
    margin:0;
    padding:0;
}

.library_title{
    height:88px;
    background:#fff;
    margin:0;
    display:flex;
    font-size:36px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding:0 28px;
    position:fixed;
    z-index: 100;
    border-bottom: 1px solid #ebebeb;
    width:100%;

}

.title_text{
    font-size:36px;
    font-weight:normal;
    color:#232323; 
}

.library_nav {
    position: fixed;
    z-index:100;
    margin-top:88px;
    padding: 20px 0 20px 30px;
    background-color: #fefefe;
    display: flex;
    width: 100%;
    border-top: 1px solid #ebebeb;
}

.nav {
    width: 550px;
    margin-right: 10px;
    flex: 1;
    overflow: hidden;
}

.nav > ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    justify-content: space-between;
  }
  .nav > ul > li {
    flex-shrink: 0;
    font-size: 30px;
    color: #232323;
    padding: 0 10px;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    height:48px;
    line-height: 48px;
    margin-right: 30px;
  }

  .liActive {
    color: #ff6743 !important;
    border-color: #ff6743 !important;
  }

  .nav_map {
    width: 160px;
    border-left: 2px solid #e0e0e0;
    font-size: 30px;
    color: #666;
    height: 28px;
    line-height: 28px;
    margin-top: 10px;
    margin-right:28px;
    text-align: center;
    box-sizing: border-box;
  }

  .nav_map span {
    display: inline-block;
    text-align: center;
  }
  .map_icon {
    display: inline-block;
    width:20px;
    height: 25.5px;
    margin-left: 11.25px;
  }
  .map_icon img {
    width:22px;
    height:26px;
  }

.library_left,
.library_right {
  float: left;
  width: 341px;
  overflow: hidden;
}
.library_left {
  margin-right: 8px;
}

  .library_waterfall {
    width: 100%;
    padding: 0 30px;
    position:relative;
    top:196px;
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
  }



