header{
    background-color: #fff;
    height: 88px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}
.back{
    margin-left: 30px;
    width: 66px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    font-size: 66px;
    color: #777;
}
.header_h3{
    color: #232323;
    font-size: 36px;
    margin-top: 30px;
}
.more{
    margin-right: 30px;
    width: 36px;
    height: 36px;
    margin-top: 16px;
}



.section{
    width: 100%;
    padding-top: 88px;
    padding-bottom: 98px;
    display: flex;
    flex-direction: column;
}
.banner{
    width: 690px;
    height: 420px;
    margin: 30px auto;
    background-color: #282827;
    padding-top: 20px;
    box-sizing: border-box;
}
.banner_center{
    width: 638px;
    height: 368px;
    box-sizing: border-box;
    padding-top: 60px;
    margin: auto;
    border: 2px solid #5c4b17;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}
.banner_center>a{
    color: #8a732e;
    position: absolute;
    right: 30px;
    top: 15px;
    text-decoration: underline;
}

.ban_title{
    height: 78px; 
    width: 228px;
    text-align: center;
    line-height: 78px;
    border-radius: 2px;
    background-color: #BAA36D;
    color: #454341;
    font-size: 42px;
    font-weight: bold;
}
.ban_detail{
    display: flex;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    /* flex-direction: column; */
    width: 410px;
    height: 113px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(240,224,174,0.5);
}
.ban_detail>i{
    color: #f0e0ae;
    font-size: 34px;
    margin-right: 8px;
    font-style: normal;
}
.ban_detail>em{
    color: #f0e0ae;
    font-size: 34px;
    margin-left: 8px;
    font-style: normal;
}
.ban_detail>span{
    color: #f0e0ae;
    font-size: 48px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 8px;
}
.ban_detail>strong{
    color: #f0e0ae;
    line-height: 46px;
    background-color: #000;
    font-size: 24px;
    height: 46px;
    width: 84px;
    text-align: center;
}
.center_p{
    margin-top: 15px;
}
.center_p>span{
    font-size: 30px;
    font-weight: bold;
    color: #f0e0ae;
}
.center_p>em{
    font-size: 30px;
    font-weight: bold;
    color: #f0e0ae;
    font-style: normal;
}
.center_p>i{
    width: 30x;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    background-color: #bd8c5a;
    color: #232323;
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
    font-style: normal;
}
.btn{
    display: block;
    width: 644px;
    height: 90px;
    margin: 60px auto;
    color: #fefefe;
    font-size: 34px;
    text-align: center;
    line-height: 90px;
    border: none;
    background: linear-gradient(90deg,#FECE9D,#D79A62);
    cursor: pointer;
}
.list{
    height: 1074px;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.list_content{
    width: 690px;
    height: 1000px;
    margin: 30px auto;
    border: 2px solid rgb(243, 208, 214);
    background: #fffcf5 url('../../../assets/img/cart/plus_icon_1.35460df.png') no-repeat center;
    background-size: 100% 100%;
    text-align: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    box-sizing: border-box;
    position: relative;
    
}
.list_content>h3{
    color: #896039;
    font-size: 38px;
    font-weight: bold;
}
.list_yougou{
    width: 610px;
    height: 600px;
    margin-left: 40px;
}
.list_yougou_item{
    float: left;
    display: flex;
    width: 120px;
    height: 155px;
    margin-top: 50px;
    margin-right: 31px;
    flex-wrap: wrap;
}
.list_yougou_item>img{
    width: 100%;
    display: block;
}
.list_yougou_item>p{
    color: #514843;
    font-size: 28px;
    margin: 15px auto;
}
.btn_end{
    border: none;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 440px;
    height: 80px;
    background: #ffe8cf;
    color: #6B4218;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    line-height: 80px;
}
.vip_a{
    text-decoration: underline;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.footer{
    position: fixed;
    bottom: 0;
    height: 100px;
    background-color: #fff;
    width: 100%;
}
.content{
    width: 750px;
    height: 100%;
    margin: 0 auto;  
    display: flex;
}
.footer_list{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #000;
    background-color: #fff;
}

.footer_list>span{
    color: #FF6743;
    font-size: 32px;
}

.footer_list_right{
    width: 55%;
    height: 100%;
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(254, 206, 157), rgb(215, 154, 98));

}
