.header{
    height:88px;
    display:flex;
    align-items: center;
    font-size: 40px;
    padding:0 22px;
    color:#4b4b4b;
    /* border:1px solid red; */
}

.passport_body{
    box-sizing: border-box;
    /* border:1px solid red; */
    padding:0 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon{
    width:320px;
    height:101px;
    margin:57px auto 68px;
}

.icon img{
    width:100%;
    height:100%;
   
}

.formStyle{
    /* border:1px oslid red; */
    border:none;
    display:flex;
    flex-direction: column;
}

.formStyle input{
    border:none;
    width:100%;
    margin-top:20px;
    padding:36px 0;
    display: flex;
    align-items: center;
    font-size: 32px;
    /* border-bottom: 2px solid #999999; */
    outline: none;
}

.back_eye_img{
    width:40px;
    height:40px;
    position: absolute;
    top:480px;
    right:72px;
    background:url("../../../assets/img/login/eye.png") no-repeat;
    display:block;
}

.back_eye_img_open{
    width:40px;
    height:40px;
    position: absolute;
    top:480px;
    right:72px;
    background:url("../../../assets/img/login/eyeopen.png") no-repeat;
    display:block;
}


.formStyle .submit{
    border:none;
    height:100px;
    width:100%;
    margin-top:20px;
    border-radius: 50px;
    background:linear-gradient(50deg, #ff9a34, #ff4d4a);
    margin: 90px auto 39px;
    font-size: 36px;
    text-align: center;
    color:#FEFEFE;
    opacity:.4;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    letter-spacing: 8px;
}

.the_i{
    background:url(../../../assets//img/login/snow.jpg);
    font-size:30px;
    letter-spacing: 1px;
    color:#666;
}

.others{
    font-size: 30px;
    color:#666666;
    overflow: hidden;
    margin:0;
    padding:0;
}

.othersLogin{
    position: absolute;
    bottom:60px;
    left: 140px;
    right:140px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


.line{
    display: inline-block;
    width:132px;
    height:0;
}

.othersLogin_p{
    display: inline-block;
    position: absolute;
    left:50%;
    top:-32px;
    transform: translateX(-50%);
    width: 470px;
    height: 50px;
    line-height:50px;
    color: #999999;
    text-align: center;
    background-color: rgba(254, 254, 254, 1);
}

.othersImg{
    margin-top:70px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height:70px;
}


.othersImg img{
    width:70px;
    height:70px;
}
